@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .image-background {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    }

    .calendar{
        display: flex;
        justify-content: center;
        align-items: center;
        width:900px;
        height: 900px;
    }
        @media (max-width: 660px) {
            .calendar{
                width: 370px;
                height: 370px;
            }
        }
                 @media (min-width:650px) {
                     .calendar {
                         width: 700px;
                         height: 600px;
                     } 
        }
    }
